input,
select,
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin: 0;
  padding: 0;
}

fieldset,
input,
select {
  border-radius: 5px;
  margin: 10px;
}

input,
select{
  width: 200px;
  height: 30px;
  padding: 3px;
}

.container {
  margin: auto;
  width: 80%;
}
