nav li {
  padding: 10px;
  display: inline;
  font-size: 1.3em;
}

nav ul {
  margin-top: 0;
  padding: 15px;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: #444;
  height: 70px;
  vertical-align: middle;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.registration {
  float: right;
  padding: 0;
}

.active-page {
  font-weight: bolder;
}

.nav-link-img {
  width: 40px;
  height: 40px;
}

.nav-link-img.home-img,
.nav-link-img.registration-img{
  background-size: 40px;
  display: inline-block;
}

.nav-link-img.home-img{
  background-image: url(/home.svg);
}

.active-page .nav-link-img.home-img{
  background-image: url(/home-active.svg);
}

.nav-link-img.registration-img {
  background-image: url(/registration.svg);
}

.active-page .nav-link-img.registration-img{
  background-image: url(/registration-active.svg);
}
