.user-registration-form-wrapper {
  border: 1px solid #bbb;
  min-height: 700px;
  width: 300px;

  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  flex-direction: column;
  box-shadow: 0px 0px 30px -8px black;
}

.user-registration-form-wrapper, fieldset {
  border: 1px solid #bbb;
}

.user-registration-form-wrapper input[type='radio']{
  display: inline-block;
  width: 80px;
  height: 13px;
}

.user-registration-form-wrapper .form-actions {
  text-align: center;
}

.user-registration-form-wrapper input {
  border: 1px solid #aaa;
}

.user-registration-form-wrapper .required {
  display: block;
}

.user-registration-form-wrapper .required::after{
  content: "*";
  color: red;
}
