.users-view-table {
  border-collapse: collapse;
  width: 100%;
}

.users-view-table th, .users-view-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #bbb;
}

.users-view-table th {
  background-color: #eee;
}

.pagination {
  float: right;
}

.pagination-info {
  margin-right: 10px;
}

@media (max-width: 550px) {
  .records-text,
  .show-text{
    display: none;
  }

  .container{
    width: 100%;
  }
}
